/Exercicio1.class
/Exercicio2.class
/Exercicio3.class
/Exercicio4.class
/Exercicio5.class
/Exercicio6.class
/Exercicio7.class
/Exercicio8.class
/Lista2Exercicio1.class
/Lista2Exercicio2.class
/Lista2Exercicio3.class
/Lista2Exercicio4.class
/Lista2Exercicio5.class
/Lista2Exercicio6.class
